button {
  cursor: pointer;
  outline: 0;
  background: transparent;
}

h1 {
  @media (max-width: 600px) {
    display: none;
  }
}

.add,
.subtract {
  border: none;
  font-size: 24px;
  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.add {
  margin-right: 1em;
  @media (max-width: 600px) {
    margin-right: 0.5em;
  }
}

.effects-wrapper {
  opacity: 0;
  will-change: opacity;
  @media (max-width: 600px) {
    margin-top: -11.4em;
    font-size: 8px;
  }
}

.effect-wrapper {
  display: flex;
  align-items: center;
}

.bar {
  width: 10px;
  height: 30px;
  background: black;
  margin-left: 0.5em;
  animation: blink 0.3s;
  @media (max-width: 600px) {
    width: 3px;
    height: 10px;
    margin-left: 0.2em;
  }
}

.exit-button {
  border: 4px solid black;
  padding: 0.25em 1.25em;
  font-size: 17px;
  letter-spacing: 3px;
  margin-top: 2em;
  @media (max-width: 600px) {
    font-size: 8px;
    border: 2px solid black;
    padding: 0.25em 1em;
  }
}
